<head> </head>
<div id="component_loginForm" class="inner">
    <form action="">
        <h2>Member Login</h2>
        <input
            type="text"
            name="id"
            pattern="^([a-z0-9_]){6,50}$"
            placeholder=" 사용자 ID를 입력해주세요"
        />
        <input
            type="password"
            name="passwd"
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&*()_-+=[]{}~?:;`|/]).{6,50}$"
            placeholder=" 비밀번호를 입력해주세요"
        />
        <button>로그인</button>
        <div class="aBox">
            <a href="#">사용자ID신청</a>
            <span>|</span>
            <a href="#">사용자ID찾기</a>
            <span>|</span>
            <a href="#">비밀번호찾기</a>
        </div>
    </form>
</div>

